@use './variables.scss' as *;
// validate input
.invalid-feedback {
    color: #fd675c;
    font-size: 0.875em;
    font-weight: 200;
}

.required-field::after {
    content: "*";
    color: red;
}

// light mode || default mode
input,
input[data-slot="input"],
input:-webkit-autofill,
textarea {
        padding: 10px 14px;
        background-color: #e8f0fe !important;
        color: #343434;
        border:#6b6b6b 1px solid;
        &:focus-visible {
            box-shadow: 0 0 2px 5px rgba(226, 109, 122, 0.3);
        }
    }

.input-pwd-visible {
    background-color: #e8f0fe !important;
    display: flex;
    border-radius: 0.375rem;
    &:focus-within {
        box-shadow: 0 0 2px 5px rgba(226, 109, 122, 0.3);
    }
    input[data-slot="input"],
    input:-webkit-autofill {
            background:none;
            color: #343434;
            border: none;
            box-shadow: none;
            width: 270px;
            &:focus-visible {
                box-shadow: none;
            }
    }
    .eye-visible-icon {
        background:none;
        color: #333;
        margin: auto;
        &:hover {
            color: #888;
        }
    }
}

// integer input (Remove Arrows/Spinners)
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


// dark mode
.dark {
    input[data-slot="input"],
    input:-webkit-autofill,
    textarea {
        background-color: #444 !important;
        color: #fff;
        border:#666;
        &:focus-visible {
            box-shadow: 0 0 2px 5px rgba(226, 109, 122, 0.3);
        }
    }
}



