@use './variables.scss' as *;
input[data-slot="input"],
input:-webkit-autofill {
    background-color: #444 !important;
    color: #f5f5f5;
    border:#666;
    &:focus-visible {
        box-shadow: 0 0 2px 5px rgba(226, 109, 122, 0.3);
    }
}

