@use 'sass:color';
@use './variables.scss' as *;

:root {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

body {
  font-family: 'Anuphan', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-layout {
  // variables
  $sidebar-width: 230px;
  $sidebar-minimize-width: 60px;

  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  .sidebar.open,.sidebar {
    height: 100%;
    width: $sidebar-width;
    z-index: 100;
    position: fixed;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color: $sidebar-color;
    transition: width 0.3s ease;
    .sidebar-box {
      padding: 5px;
      height: 100%;
      .header {
        padding: 4px 5px 5px 5px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        .logo {
          display: flex;
          flex-direction: row;
          .img-box {
            width: 45px;
            padding: 5px;
            img {
                border-radius: 10px;
                filter: drop-shadow(0px -1px 6px #f54b4b33);
            }
          }
          .text-box {
            margin-top: 9px;
            margin-left: 10px;
            line-height: 12px;
            .name {
              font-size: small;
            }
            .desc {
              font-size: x-small;
              color: #a59c9c;
            }
          }
        }
        .toggle-button {
          color:#ffffff;
          position: absolute;
          top: 30px;
          left: 13.5rem;
          transform: translateY(-50%);
          height: 25px;
          width: 25px;
          background-color: $header-color;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          box-shadow: 0 4px 6px #444;
          transition: width 0.3s ease, left 0.3s ease;
          &:hover {
            background-color: color.adjust($header-color, $lightness: -10%);
          }
        }
        .close-sidebar-full-button {
          display: none;
        }
      }
      .menu-bar {
        height: calc(100vh - 142px);
        padding: 5px;
        color: #ffffff;
        overflow-y: auto;
        .menu-item {
          cursor: pointer;
          font-size: 14px;
          padding: 5px;
          display: flex;
          flex-direction: row;
          .menu-item-icon {
            padding: 5px;
          }
          .menu-item-name{
            padding: 5px;
            &.invisible {
              display: none;
            }
            &.parent {
              font-size: small;
              color: #a59c9c;
              cursor:default;
            }
          }
          &.active {
            background-color: #444;
            color: #E8717E;
            border-radius: 6px;
            .menu-item-icon,
            .menu-item-name,
            .menu-item-carret {
              padding: 5px;
            }
          }
        }
      }
      .footer {
        .footer-items {
           font-size: 14px;
           padding: 5px;
           display: flex;
           flex-direction: column;
          .menu-item {
            cursor: pointer;
            font-size: 14px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            .menu-item-icon,
            .menu-item-name,
            .menu-item-switch {
              padding: 5px;
            }
            .name {
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .sidebar.open ~ .main-section, .sidebar ~ .main-section {
    transition: width 0.3s ease, left 0.3s ease;
    position: relative;
    height: 100vh;
    left: $sidebar-width;
    width: calc(100% - $sidebar-width);

    .navbar-section {
      top: 0;
      position: sticky;
      height: 60px;
      background-color: $navbar-color;
    }

    .content-section {
      flex-shrink: 0;
      color: #a59c9c;
      width: 100%;
      height: calc(100vh - 60px);
      padding: 40px 20px;
      overflow: auto;
    }
  }
  .sidebar.minimize {
    width: $sidebar-minimize-width;
    .text-box {
      display: none;
    }
    .toggle-button {
      left: 3.2rem !important;
    }
    .menu-item-name:not(.parent) {
      display: none;
    }
    .menu-item-name.parent {
      margin: 0 auto
    }
    .header {
      padding: 5px 5px 5px 2px !important;
    }
    .menu-item-icon {
      margin: 0 auto
    }
    .menu-item-switch {
      margin: 0 auto
    }
  }
  .sidebar.minimize ~ .main-section {
    left: $sidebar-minimize-width;
    width: calc(100% - $sidebar-minimize-width);
  }

  .sidebar.close {
    width: 0;
    display: none;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .sidebar.close ~ .main-section {
    left: 0;
    width: 100%;
    transition: width 0.3s ease;
  }

  .sidebar.full {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
  }
  .sidebar.full ~ .main-section {
    display: none;
    width: 0;
  }
}





