.transfer {
    display: flex;
    align-items: center;
}

.transfer-right,
.transfer-left {
    display: block;
    height: 255px;
    padding: 0px;
    border-color: #525253;

    .transfer-title {
        border-radius: 0.75rem 0.75rem 0 0;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 14px;
        border-bottom: 1px solid #525253;
        background-color: #444;
    }
    .transfer-box {
        padding: 10px;
        .transfer-search {
            margin-bottom: 10px;
        }
        .transfer-list {
            height: 150px;
            display: block;
            padding: 10px;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
    }

}

.transfer-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}


