@use './variables.scss' as *;
// pink #E8717E
// green #AED274
// grey #C3C9D0
// brown #7F685B
// light brown #C2B8B0
.bg-primary {
    background-color: #E8717E;
}
.bg-input {
    background-color: #C3C9D0;
}

.login-header {

    margin: 20px auto 30px auto;
    text-align: center;
    .header {
      font-size: 24px !important;
      color:#E8717E;
      font-weight: bold;
      margin-bottom: 2px;
    }
    .desc {
      font-size: 12px;
      font-weight: 200;
    }
}

.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readonly * {
  pointer-events: none;  /* ปิดการคลิก/พิมพ์ */
  user-select: none;     /* ปิดการเลือกข้อความ */
  background-color: #f5f5f5;
  color: #666;
}

.tooltip-content {
  z-index: 200 !important;
}