// pink #E8717E
// green #AED274
// grey #C3C9D0
// brown #7F685B
// light brown #C2B8B0


$sidebar-color: #333;
$navbar-color: #E8717E;
$background-color: #C2B8B0;


$card-color: #333;
$header-color: #AED274;
$desc-color:#ccd4bf;
