// pink #E8717E
// green #AED274
// grey #C3C9D0
// brown #7F685B
// light brown #C2B8B0

$color-primary:#E8717E;

$bg-primary:#E8717E;
$bg-input:#C3C9D0;

$sidebar-color: #333;
$navbar-color: #E8717E;
$background-color: #1e1e1e;


$card-color: #333;
$header-color: #AED274;
$desc-color:#ccd4bf;


// button colors
$button-primary: #439cfa;
$button-secondary: #6c757d;
$button-danger: #dd4655;
$button-success: #AED274;
$button-warning: #ffc107;
$button-info: #17a2b8;
$button-light:#C2B8B0;
$button-dark:#2c2a29;
$button-link: transparent;


$button-color-dark:#212529;
$button-color-light:aliceblue;
