.card {
    background-color: #333;
    color: #eee0e0;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border: none;
}

.login-card {
    border: none;
    width: 400px
}